<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Силуэт — профессиональная красота</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<div class="container">
		<div class="header-top">
	<div class="header-top__inner small-container">
		<div class="header-top__cell">
			<div class="login">
				<a href="javascript:void(0)" class="login__link">
					Войти <i class="icon-vertical-arrow login__icon"></i>
				</a>

				<div class="login__modal">
					<form class="login__form">
						<label class="login__label">
							<input type="text" name="login" class="login__input" placeholder="Логин">
						</label>

						<label class="login__label">
							<input type="password" name="password" class="login__input" placeholder="••••••••">
							<button class="login__button" type="submit">Войти</button>
						</label>

						<div class="login__links">
							<a href="#" class="login__other login__cell">Регистрация</a>
							<a href="#" class="login__other login__cell">Вспомнить пароль</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="header-top__cell header-top__cell_right">
			<form action="" class="search">
				<input type="text" class="search__input" placeholder="Поиск" />
				<button type="submit" class="search__button"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
</div>

<header class="header">
	<div class="header__inner small-container">
		<div class="header__cell header__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="header__cell">
			<ul class="navigation">
				<li class="navigation__item"><a href="#" class="navigation__link">Главная</a></li>
				<li class="navigation__item active"><a href="#" class="navigation__link">Новости</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Бренды</a></li>

				<li class="navigation__item">
					<a href="#" class="navigation__link">Обучение</a>

					<ul class="sub-nav">
						<li class="sub-nav__item"><a href="#" class="sub-nav__link">Расписание</a></li>
						<li class="sub-nav__item"><a href="#" class="sub-nav__link">Программы обучения</a></li>
						<li class="sub-nav__item"><a href="#" class="sub-nav__link">Наши технологи и тренеры</a></li>
						<li class="sub-nav__item"><a href="#" class="sub-nav__link">Фотоотчеты</a></li>
					</ul>
				</li>

				<li class="navigation__item"><a href="#" class="navigation__link">Магазины</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">О нас</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
			</ul>
		</div>

		<div class="header__cell header__cell_right">
			<a href="#" class="button">Интернет-магазин</a>
		</div>
	</div>
</header>

		<div class="container__thick">
			<div class="mail-slider">
				<div class="main-slider__item" style="background-image: url(pictures/main-slider-1.jpg)">
					<div class="small-container main-slider__inner">
						<div class="main-slider__cell">
							<span class="main-slider__title">Обучение мастеров <br> Семинар «Цвет» 28 мая, г. Барнаул</span>
							<a href="#" class="button button_fill">
								<span class="button__inner">Узнать больше</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="main-slider__item" style="background-image: url(pictures/main-slider-1.jpg)">
					<div class="small-container main-slider__inner">
						<div class="main-slider__cell">
							<span class="main-slider__title">Обучение мастеров <br> Семинар «Цвет» 28 мая, г. Барнаул</span>
							<a href="#" class="button button_fill">
								<span class="button__inner">Узнать больше</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="main-slider__item" style="background-image: url(pictures/main-slider-1.jpg)">
					<div class="small-container main-slider__inner">
						<div class="main-slider__cell">
							<span class="main-slider__title">Обучение мастеров <br> Семинар «Цвет» 28 мая, г. Барнаул</span>
							<a href="#" class="button button_fill">
								<span class="button__inner">Узнать больше</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="small-container main-nav">
				<div class="main-nav__cell">
					<a href="#" class="main-nav__inner" style="background-image: url(img/main-nav-1.png);">
						<span class="main-nav__title">Акции</span>
						<span class="main-nav__link">Узнать больше <i class="icon-arrow"></i></span>
					</a>
				</div>

				<div class="main-nav__cell">
					<a href="#" class="main-nav__inner" style="background-image: url(img/main-nav-2.png);">
						<span class="main-nav__title">Новинки</span>
						<span class="main-nav__link">Узнать больше <i class="icon-arrow"></i></span>
					</a>
				</div>

				<div class="main-nav__cell">
					<a href="#" class="main-nav__inner" style="background-image: url(img/main-nav-3.png);">
						<span class="main-nav__title">Магазины</span>
						<span class="main-nav__link">Узнать больше <i class="icon-arrow"></i></span>
					</a>
				</div>
			</div>
			
			<div class="small-container slider">
				<div class="slider__item">
					<div class="slider__inner">
						<div class="slider__cell slider__cell_photo" style="background-image: url(pictures/woomen.jpg);"></div>
						<div class="slider__cell">
							<span class="slider__title">Семинар EMI STYLE BAR</span>
							<p class="slider__text">Выражение собственного «я» – новое слово в стайлинге волос. Семинар EIMI STYLE BAR учитывает возрастающую тенденцию самовыражения через быстрые модные укладки. На этом семинаре вы узнаете концепцию EIMI STYLE BAR , топ 10 продуктов премиального стайлинга, меню сервисов, а также сможете уверенно создавать образы EIMI STYLE BAR на каждый день и для любого случая Ваших клиентов, уверенно проводить консультации – индивидуальные рекомендации по укладке волос в домашних условиях!</p>
							
							<a href="#" class="button button_fill button_gray slider__button">
								<span class="button__inner">Читать далее</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__inner">
						<div class="slider__cell slider__cell_photo" style="background-image: url(pictures/woomen.jpg);"></div>
						<div class="slider__cell">
							<span class="slider__title">Семинар EMI STYLE BAR</span>
							<p class="slider__text">Выражение собственного «я» – новое слово в стайлинге волос. Семинар EIMI STYLE BAR учитывает возрастающую тенденцию самовыражения через быстрые модные укладки. На этом семинаре вы узнаете концепцию EIMI STYLE BAR , топ 10 продуктов премиального стайлинга, меню сервисов, а также сможете уверенно создавать образы EIMI STYLE BAR на каждый день и для любого случая Ваших клиентов, уверенно проводить консультации – индивидуальные рекомендации по укладке волос в домашних условиях!</p>

							<a href="#" class="button button_fill button_gray slider__button">
								<span class="button__inner">Читать далее</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__inner">
						<div class="slider__cell slider__cell_photo" style="background-image: url(pictures/woomen.jpg);"></div>
						<div class="slider__cell">
							<span class="slider__title">Семинар EMI STYLE BAR</span>
							<p class="slider__text">Выражение собственного «я» – новое слово в стайлинге волос. Семинар EIMI STYLE BAR учитывает возрастающую тенденцию самовыражения через быстрые модные укладки. На этом семинаре вы узнаете концепцию EIMI STYLE BAR , топ 10 продуктов премиального стайлинга, меню сервисов, а также сможете уверенно создавать образы EIMI STYLE BAR на каждый день и для любого случая Ваших клиентов, уверенно проводить консультации – индивидуальные рекомендации по укладке волос в домашних условиях!</p>

							<a href="#" class="button button_fill button_gray slider__button">
								<span class="button__inner">Читать далее</span>
								<i class="icon-arrow button__arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer">
	<div class="footer__inner small-container">
		<div class="footer__cell footer__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="footer__cell">
			<ul class="footer-contact">
				<li class="footer-contact__item">
					<i class="icon-email footer-contact__icon"></i>
					<a href="mailto:siluet-barnaul@yandex.ru" class="footer-contact__value">siluet-barnaul@yandex.ru</a>
				</li>

				<li class="footer-contact__item">
					<i class="icon-phone footer-contact__icon"></i>
					<a href="tel:+7 (3852) 72-33-00" class="footer-contact__value">+7 (3852) 72-33-00</a>
				</li>
			</ul>
		</div>

		<div class="footer__cell">
			<a href="#" class="button">Перезвоните мне</a>
		</div>

		<div class="footer__cell footer__cell_right">
			<ul class="social-list">
				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-vk social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-instagram social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-tw social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-facebook social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-ok social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-youtube-symbol social-button__icon"></i></a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<div class="copyright">
	<div class="copyright__inner small-container">
		<div class="copyright__cell">
			© Силуэт - профессиональная красота
		</div>

		<div class="copyright__cell copyright__cell_right">
			<a href="#" class="copyright__text">Разработка сайта <img src="img/letsrock.svg" class="copyright__logo" alt="" /></a>
		</div>
	</div>
</div>
	</div>

	<script src="js/libs.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
</body>
</html>