<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Силуэт — профессиональная красота</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<div class="container">
		<div class="header-top">
	<div class="header-top__inner small-container">
		<div class="header-top__cell">
			<div class="login">
				<a href="javascript:void(0)" class="login__link">
					Войти <i class="icon-vertical-arrow login__icon"></i>
				</a>

				<div class="login__modal">
					<form class="login__form">
						<label class="login__label">
							<input type="text" name="login" class="login__input" placeholder="Логин">
						</label>

						<label class="login__label">
							<input type="password" name="password" class="login__input" placeholder="••••••••">
							<button class="login__button" type="submit">Войти</button>
						</label>

						<div class="login__links">
							<a href="#" class="login__other login__cell">Регистрация</a>
							<a href="#" class="login__other login__cell">Вспомнить пароль</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="header-top__cell header-top__cell_right">
			<form action="" class="search">
				<input type="text" class="search__input" placeholder="Поиск" />
				<button type="submit" class="search__button"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
</div>

<header class="header header_border">
	<div class="header__inner small-container">
		<div class="header__cell header__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="header__cell">
			<ul class="navigation">
				<li class="navigation__item"><a href="#" class="navigation__link">Главная</a></li>
				<li class="navigation__item active"><a href="#" class="navigation__link">Новости</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Бренды</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Обучение</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Магазины</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">О нас</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
			</ul>
		</div>

		<div class="header__cell header__cell_right">
			<a href="#" class="button">Интернет-магазин</a>
		</div>
	</div>
</header>
		<div class="breadcrumbs">
	<div class="small-container breadcrumbs__inner">
		<div class="breadcrumbs__cell">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Новости</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link active">Акции</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="container__thick">
			<div class="column-container">
				<div class="column-container__right">
					<h1 class="page-title">Программы обучения</h1>

					<div class="tabs classic-tab">
						<ul class="table__caption classic-tab__caption">
							<li class="classic-tab__item">
								<a href="#pr1" class="tabs__link classic-tab__link active">Парикмахерское искусство</a>
							</li>
							<li class="classic-tab__item">
								<a href="#pr2" class="tabs__link classic-tab__link">Ногтевой сервис</a>
							</li>
							<li class="classic-tab__item">
								<a href="#pr3" class="tabs__link classic-tab__link">Косметология</a>
							</li>
							<li class="classic-tab__item">
								<a href="#pr4" class="tabs__link classic-tab__link">Оформление бровей</a>
							</li>
						</ul>

						<div class="tabs__content active" id="pr1">
							<div class="setting">
								<div class="setting__cell">
									<span class="setting__title">Категория</span>

									<select>
										<option value="1">Все категории</option>
										<option value="1">Категория №1</option>
										<option value="1">Категория №2</option>
										<option value="1">Категория №3</option>
										<option value="1">Категория №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<span class="setting__title">Бренд</span>

									<select>
										<option value="1">Все бренды</option>
										<option value="1">Бренд №1</option>
										<option value="1">Бренд №2</option>
										<option value="1">Бренд №3</option>
										<option value="1">Бренд №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<button class="setting__button">Применить</button>
								</div>
							</div>

							<div class="programs">
								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-1.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Колористика от А до Я</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Estel</span>
										</span>

										<span class="program__text">Практический курс для начинающих и мастеров со стажем работы, которые хотят углубить свои знания. Курс «Колористика от А до Я» позволит получить фундаментальные знания, которые необходимы для успешной карьеры в салоне красоты, и овладеть основами парикмахерского искусства на высоком профессиональном уровне.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-2.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Семинар Londa</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Londa</span>
										</span>

										<span class="program__text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-1.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Колористика от А до Я</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Estel</span>
										</span>

										<span class="program__text">Практический курс для начинающих и мастеров со стажем работы, которые хотят углубить свои знания. Курс «Колористика от А до Я» позволит получить фундаментальные знания, которые необходимы для успешной карьеры в салоне красоты, и овладеть основами парикмахерского искусства на высоком профессиональном уровне.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-2.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Семинар Londa</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Londa</span>
										</span>

										<span class="program__text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>
							</div>
						</div>

						<div class="tabs__content" id="pr2">
							<div class="setting">
								<div class="setting__cell">
									<span class="setting__title">Категория</span>

									<select>
										<option value="1">Все категории</option>
										<option value="1">Категория №1</option>
										<option value="1">Категория №2</option>
										<option value="1">Категория №3</option>
										<option value="1">Категория №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<span class="setting__title">Бренд</span>

									<select>
										<option value="1">Все бренды</option>
										<option value="1">Бренд №1</option>
										<option value="1">Бренд №2</option>
										<option value="1">Бренд №3</option>
										<option value="1">Бренд №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<button class="setting__button">Применить</button>
								</div>
							</div>

							<div class="programs">
								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-1.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Колористика от А до Я</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Estel</span>
										</span>

										<span class="program__text">Практический курс для начинающих и мастеров со стажем работы, которые хотят углубить свои знания. Курс «Колористика от А до Я» позволит получить фундаментальные знания, которые необходимы для успешной карьеры в салоне красоты, и овладеть основами парикмахерского искусства на высоком профессиональном уровне.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-2.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Семинар Londa</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Londa</span>
										</span>

										<span class="program__text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-1.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Колористика от А до Я</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Estel</span>
										</span>

										<span class="program__text">Практический курс для начинающих и мастеров со стажем работы, которые хотят углубить свои знания. Курс «Колористика от А до Я» позволит получить фундаментальные знания, которые необходимы для успешной карьеры в салоне красоты, и овладеть основами парикмахерского искусства на высоком профессиональном уровне.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-2.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Семинар Londa</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Londa</span>
										</span>

										<span class="program__text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>
							</div>
						</div>

						<div class="tabs__content" id="pr3">
							<div class="setting">
								<div class="setting__cell">
									<span class="setting__title">Категория</span>

									<select>
										<option value="1">Все категории</option>
										<option value="1">Категория №1</option>
										<option value="1">Категория №2</option>
										<option value="1">Категория №3</option>
										<option value="1">Категория №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<span class="setting__title">Бренд</span>

									<select>
										<option value="1">Все бренды</option>
										<option value="1">Бренд №1</option>
										<option value="1">Бренд №2</option>
										<option value="1">Бренд №3</option>
										<option value="1">Бренд №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<button class="setting__button">Применить</button>
								</div>
							</div>

							<div class="programs">
								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>
							</div>
						</div>

						<div class="tabs__content" id="pr4">
							<div class="setting">
								<div class="setting__cell">
									<span class="setting__title">Категория</span>

									<select>
										<option value="1">Все категории</option>
										<option value="1">Категория №1</option>
										<option value="1">Категория №2</option>
										<option value="1">Категория №3</option>
										<option value="1">Категория №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<span class="setting__title">Бренд</span>

									<select>
										<option value="1">Все бренды</option>
										<option value="1">Бренд №1</option>
										<option value="1">Бренд №2</option>
										<option value="1">Бренд №3</option>
										<option value="1">Бренд №4</option>
									</select>
								</div>

								<div class="setting__cell">
									<button class="setting__button">Применить</button>
								</div>
							</div>

							<div class="programs">
								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-1.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Колористика от А до Я</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Estel</span>
										</span>

										<span class="program__text">Практический курс для начинающих и мастеров со стажем работы, которые хотят углубить свои знания. Курс «Колористика от А до Я» позволит получить фундаментальные знания, которые необходимы для успешной карьеры в салоне красоты, и овладеть основами парикмахерского искусства на высоком профессиональном уровне.</span>
									</div>
								</div>

								<div class="program">
									<a href="#" class="program__img" style="background-image: url('pictures/program-3.jpg')">
										<span class="program__date">
											<i class="icon-calendar program__icon"></i>21/01/2017
										</span>
									</a>

									<div class="program__inner">
										<a href="#" class="program__title">Выбор цвета</a>

										<span class="program__info">
											<span>Бренд:</span>
											<span class="program__brand">Sagitta</span>
										</span>

										<span class="program__text">Поднимитесь на одну ступень креативности уже сегодня! Представьте мир без ограничений в окрашивании. Отпустите свою креативность в свободный полет. Семинар с практической отработкой.</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="pagination">
						<div class="pagination__inner">
							<ul class="pagination__list">
								<li class="pagination__item"><a href="#" class="pagination__link active">1</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">...</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">10</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer">
	<div class="footer__inner small-container">
		<div class="footer__cell footer__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="footer__cell">
			<ul class="footer-contact">
				<li class="footer-contact__item">
					<i class="icon-email footer-contact__icon"></i>
					<a href="mailto:siluet-barnaul@yandex.ru" class="footer-contact__value">siluet-barnaul@yandex.ru</a>
				</li>

				<li class="footer-contact__item">
					<i class="icon-phone footer-contact__icon"></i>
					<a href="tel:+7 (3852) 72-33-00" class="footer-contact__value">+7 (3852) 72-33-00</a>
				</li>
			</ul>
		</div>

		<div class="footer__cell">
			<a href="#" class="button">Перезвоните мне</a>
		</div>

		<div class="footer__cell footer__cell_right">
			<ul class="social-list">
				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-vk social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-instagram social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-tw social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-facebook social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-ok social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-youtube-symbol social-button__icon"></i></a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<div class="copyright">
	<div class="copyright__inner small-container">
		<div class="copyright__cell">
			© Силуэт - профессиональная красота
		</div>

		<div class="copyright__cell copyright__cell_right">
			<a href="#" class="copyright__text">Разработка сайта <img src="img/letsrock.svg" class="copyright__logo" alt="" /></a>
		</div>
	</div>
</div>
	</div>

	<script src="js/libs.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
</body>
</html>