<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Силуэт — профессиональная красота</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<div class="container">
		<div class="header-top">
	<div class="header-top__inner small-container">
		<div class="header-top__cell">
			<div class="login">
				<a href="javascript:void(0)" class="login__link">
					Войти <i class="icon-vertical-arrow login__icon"></i>
				</a>

				<div class="login__modal">
					<form class="login__form">
						<label class="login__label">
							<input type="text" name="login" class="login__input" placeholder="Логин">
						</label>

						<label class="login__label">
							<input type="password" name="password" class="login__input" placeholder="••••••••">
							<button class="login__button" type="submit">Войти</button>
						</label>

						<div class="login__links">
							<a href="#" class="login__other login__cell">Регистрация</a>
							<a href="#" class="login__other login__cell">Вспомнить пароль</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="header-top__cell header-top__cell_right">
			<form action="" class="search">
				<input type="text" class="search__input" placeholder="Поиск" />
				<button type="submit" class="search__button"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
</div>

<header class="header header_border">
	<div class="header__inner small-container">
		<div class="header__cell header__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="header__cell">
			<ul class="navigation">
				<li class="navigation__item"><a href="#" class="navigation__link">Главная</a></li>
				<li class="navigation__item active"><a href="#" class="navigation__link">Новости</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Бренды</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Обучение</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Магазины</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">О нас</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
			</ul>
		</div>

		<div class="header__cell header__cell_right">
			<a href="#" class="button">Интернет-магазин</a>
		</div>
	</div>
</header>
		<div class="breadcrumbs">
	<div class="small-container breadcrumbs__inner">
		<div class="breadcrumbs__cell">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Новости</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link active">Акции</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="container__thick">
			<div class="column-container history">
				<h1 class="page-title">О нас</h1>

				<h1 class="history__title">История компании</h1>
				
				<div class="tabs">
					<ul class="history__timeline timeline">
						<li class="timeline__item"><span class="timeline__edge">1998</span></li>

						<li class="timeline__item">
							<a href="#history1" class="tabs__link timeline__link">2002</a>
						</li>

						<li class="timeline__item">
							<a href="#history2" class="tabs__link timeline__link">2008</a>
						</li>

						<li class="timeline__item">
							<a href="#history3" class="tabs__link timeline__link active">2011</a>
						</li>

						<li class="timeline__item">
							<a href="#history4" class="tabs__link timeline__link">2012</a>
						</li>

						<li class="timeline__item">
							<a href="#history5" class="tabs__link timeline__link">2013</a>
						</li>

						<li class="timeline__item">
							<a href="#history6" class="tabs__link timeline__link">2014</a>
						</li>

						<li class="timeline__item">
							<a href="#history7" class="tabs__link timeline__link">2015</a>
						</li>

						<li class="timeline__item">
							<a href="#history8" class="tabs__link timeline__link">2016</a>
						</li>

						<li class="timeline__item"><span class="timeline__edge">2017</span></li>
					</ul>

					<div class="tabs__content history__item" id="history1">
						<span class="history__year">2002</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history2">
						<span class="history__year">2008</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item active" id="history3">
						<span class="history__year">2011</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history4">
						<span class="history__year">2012</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history5">
						<span class="history__year">2013</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history6">
						<span class="history__year">2014</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history7">
						<span class="history__year">2015</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>

					<div class="tabs__content history__item" id="history8">
						<span class="history__year">2016</span>

						<div class="history__inner">
							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>

							<div class="history-item">
								<a href="#" class="history-item__img" style="background-image: url('pictures/history-1.jpg');"></a>
								<a href="#" class="history-item__content">Конкурс парикмахерского искусства «BeautyChance»</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="philosophy" style="background-image: url('pictures/history-philosophy.jpg');">
				<div class="philosophy__inner">
					<span class="philosophy__title">Наша философия</span>

					<p>&laquo;СИЛУЭТ&raquo; стремится нести новый Образ в&nbsp;понимание Прекрасного: красота должна быть доступной и&nbsp;индивидуальной, модной и&nbsp;постоянной.</p>

					<p>Настроение каждого конкретного человека&nbsp;&mdash; это ощущение себя в&nbsp;мире&nbsp;&mdash; комфортном мире&nbsp;&mdash; ярком, свободном и&nbsp;многоликом.</p>

					<p>Улыбки, радость и&nbsp;счастье должны быть продуманны, а&nbsp;значит, естественны!</p>
				</div>
			</div>
			
			<div class="column-container">
				<h1 class="history__title">Наши преимущества</h1>
				<div class="advantages">
					<div class="advantages__item">
						<div class="advantages__icon"><img src="img/advantages-1.png" alt="" /></div>
						<p><strong>Широкий ассортимент</strong> товаров для профессионалов</p>
					</div>

					<div class="advantages__item">
						<div class="advantages__icon"><img src="img/advantages-2.png" alt="" /></div>
						<p><strong>Бесплатная доставка</strong> при заказе от 1500 руб. по всему Алтайскому краю. Служба доставки работает 7 дней в неделю.</p>
					</div>

					<div class="advantages__item">
						<div class="advantages__icon"><img src="img/advantages-3.png" alt="" /></div>
						<p><strong>Эксклюзивная программа лояльности</strong> для профессиональных покупателей.</p>
					</div>

					<div class="advantages__item">
						<div class="advantages__icon"><img src="img/advantages-4.png" alt="" /></div>
						<p><strong>Лучшие цены и гарантия</strong> качества. Все товары имеют необходимые сертификаты</p>
					</div>

					<div class="advantages__item">
						<div class="advantages__icon"><img src="img/advantages-5.png" alt="" /></div>
						<p><strong>Сервис</strong> Постоянная поддержка, обучение, акции.</p>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer">
	<div class="footer__inner small-container">
		<div class="footer__cell footer__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="footer__cell">
			<ul class="footer-contact">
				<li class="footer-contact__item">
					<i class="icon-email footer-contact__icon"></i>
					<a href="mailto:siluet-barnaul@yandex.ru" class="footer-contact__value">siluet-barnaul@yandex.ru</a>
				</li>

				<li class="footer-contact__item">
					<i class="icon-phone footer-contact__icon"></i>
					<a href="tel:+7 (3852) 72-33-00" class="footer-contact__value">+7 (3852) 72-33-00</a>
				</li>
			</ul>
		</div>

		<div class="footer__cell">
			<a href="#" class="button">Перезвоните мне</a>
		</div>

		<div class="footer__cell footer__cell_right">
			<ul class="social-list">
				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-vk social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-instagram social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-tw social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-facebook social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-ok social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-youtube-symbol social-button__icon"></i></a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<div class="copyright">
	<div class="copyright__inner small-container">
		<div class="copyright__cell">
			© Силуэт - профессиональная красота
		</div>

		<div class="copyright__cell copyright__cell_right">
			<a href="#" class="copyright__text">Разработка сайта <img src="img/letsrock.svg" class="copyright__logo" alt="" /></a>
		</div>
	</div>
</div>
	</div>

	<script src="js/libs.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
</body>
</html>