<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Силуэт — профессиональная красота</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<div class="container">
		<div class="header-top">
	<div class="header-top__inner small-container">
		<div class="header-top__cell">
			<div class="login">
				<a href="javascript:void(0)" class="login__link">
					Войти <i class="icon-vertical-arrow login__icon"></i>
				</a>

				<div class="login__modal">
					<form class="login__form">
						<label class="login__label">
							<input type="text" name="login" class="login__input" placeholder="Логин">
						</label>

						<label class="login__label">
							<input type="password" name="password" class="login__input" placeholder="••••••••">
							<button class="login__button" type="submit">Войти</button>
						</label>

						<div class="login__links">
							<a href="#" class="login__other login__cell">Регистрация</a>
							<a href="#" class="login__other login__cell">Вспомнить пароль</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="header-top__cell header-top__cell_right">
			<form action="" class="search">
				<input type="text" class="search__input" placeholder="Поиск" />
				<button type="submit" class="search__button"><i class="icon-search"></i></button>
			</form>
		</div>
	</div>
</div>

<header class="header header_border">
	<div class="header__inner small-container">
		<div class="header__cell header__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="header__cell">
			<ul class="navigation">
				<li class="navigation__item"><a href="#" class="navigation__link">Главная</a></li>
				<li class="navigation__item active"><a href="#" class="navigation__link">Новости</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Бренды</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Обучение</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Магазины</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">О нас</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
			</ul>
		</div>

		<div class="header__cell header__cell_right">
			<a href="#" class="button">Интернет-магазин</a>
		</div>
	</div>
</header>
		<div class="breadcrumbs">
	<div class="small-container breadcrumbs__inner">
		<div class="breadcrumbs__cell">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Новости</a></li>
				<li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link active">Акции</a></li>
			</ul>
		</div>
	</div>
</div>
	
		<div class="container__thick">
			<div class="column-container">				
				<h1 class="page-title">Вакансии</h1>
			</div>

			<img src="pictures/vacancies.jpg" class="text__img" alt="" />

			<div class="content">
				<p>Компания «Силуэт» занимает одно из ведущих мест в Алтайском крае в сфере оснащения салонов красоты, SPA, студий загара. Наша компания стабильна и постоянно развивается, за счет этого у нас есть возможность предлагать новые рабочие места в разных направлениях нашего бизнеса.</p>

				<p>Если Вы активны, нацелены на обучение и развитие в области индустрии красоты и хотите работать в компании «Силуэт» заполните анкету на открытую вакансию и отправьте её по адресу:</p>
				
				<p style="text-align: center; padding: 20px 0;">
					<a href="mailto:siluet-barnaul@yandex.ru" class="button">siluet-barnaul@yandex.ru</a>
				</p>
				
				<p>Если интересующей вакансии на данный момент нет, вы можете отправить анкету с пометкой «В кадровый резерв». Мы свяжемся с Вами, если Ваш опыт работы и пожелания соответствуют требованиям и возможностям Компании.</p>

				<div class="text__block">
					<span class="text__title">Другие вакансии:</span>
				</div>

				<ul class="ul-list">
					<li><a href="#" class="text__link">Парикмахер-универсал</a></li>
					<li><a href="#" class="text__link">Продавец-консультант</a></li>
					<li><a href="#" class="text__link">Мастер маникюра и педикюра</a></li>
				</ul>
			</div>
		</div>
		
		<footer class="footer">
	<div class="footer__inner small-container">
		<div class="footer__cell footer__cell_logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="" />
			</a>
		</div>

		<div class="footer__cell">
			<ul class="footer-contact">
				<li class="footer-contact__item">
					<i class="icon-email footer-contact__icon"></i>
					<a href="mailto:siluet-barnaul@yandex.ru" class="footer-contact__value">siluet-barnaul@yandex.ru</a>
				</li>

				<li class="footer-contact__item">
					<i class="icon-phone footer-contact__icon"></i>
					<a href="tel:+7 (3852) 72-33-00" class="footer-contact__value">+7 (3852) 72-33-00</a>
				</li>
			</ul>
		</div>

		<div class="footer__cell">
			<a href="#" class="button">Перезвоните мне</a>
		</div>

		<div class="footer__cell footer__cell_right">
			<ul class="social-list">
				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-vk social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-instagram social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-tw social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-facebook social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-ok social-button__icon"></i></a>
				</li>

				<li class="social-list__item">
					<a href="#" class="social-button"><i class="icon-youtube-symbol social-button__icon"></i></a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<div class="copyright">
	<div class="copyright__inner small-container">
		<div class="copyright__cell">
			© Силуэт - профессиональная красота
		</div>

		<div class="copyright__cell copyright__cell_right">
			<a href="#" class="copyright__text">Разработка сайта <img src="img/letsrock.svg" class="copyright__logo" alt="" /></a>
		</div>
	</div>
</div>
	</div>

	<script src="js/libs.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
</body>
</html>